<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Entry Confirmation</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <h1 class="form-padding"> Thank you for your submission!</h1>

  <div class="container">
    <h2>All Entries</h2>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Title</th>
        <th>Hometown</th>
        <th>Actions</th>
      </tr>

      <tr th:each="e : ${entries}" id="entry-[[${e.entryId}]]">
        <td>
          <span class="entry-value" id="first-name-[[${e.entryId}]]">[[${e.firstName}]]</span>
          <input class="entry-input" id="edit-first-name-[[${e.entryId}]]" type="text" value="[[${e.firstName}]]"
            style="display: none;" />
        </td>
        <td>
          <span class="entry-value" id="last-name-[[${e.entryId}]]">[[${e.lastName}]]</span>
          <input class="entry-input" id="edit-last-name-[[${e.entryId}]]" type="text" value="[[${e.lastName}]]"
            style="display: none;" />
        </td>
        <td>
          <span class="entry-value" id="age-[[${e.entryId}]]">[[${e.age}]]</span>
          <input class="entry-input" id="edit-age-[[${e.entryId}]]" type="number" value="[[${e.age}]]"
            style="display: none;" />
        </td>
        <td>
          <span class="entry-value" id="title-[[${e.entryId}]]">[[${e.title}]]</span>
          <input class="entry-input" id="edit-title-[[${e.entryId}]]" type="text" value="[[${e.title}]]"
            style="display: none;" />
        </td>
        <td>
          <span class="entry-value" id="hometown-[[${e.entryId}]]">[[${e.hometown}]]</span>
          <input class="entry-input" id="edit-hometown-[[${e.entryId}]]" type="text" value="[[${e.hometown}]]"
            style="display: none;" />
        </td>
        <td>
          <!-- Edit Button -->
          <button class="edit-btn" data-id="[[${e.entryId}]]">Edit</button>
          <!-- Delete Button -->
          <button class="delete-btn" data-id="[[${e.entryId}]]">Delete</button>
        </td>
      </tr>
    </table>

    <!-- Link to go to the form for a new entry -->
    <a th:href="@{/entries/entry-form}" class="button next-form">Enter Another Form!</a>
    <a th:href="@{/entries/all-entries}" class="button next-form">View All Entries!</a>
  </div>

  <!-- <script src="/js/EntryFormUpdateDelete.ts"></script> -->

</body>
</html>