<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Submission Confirmed</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <h1 class="hero">Thanks for using Entrada!</h1>

    <div class="card">
        <h2>Here is your submission.</h2>
        <div th:if="${entry}" class="submission-details">
                <p><strong>Name:</strong> <span th:text="${entry.firstName} + ' ' + ${entry.lastName}"></span></p>
                <p><strong>Age:</strong> <span th:text="${entry.age}"></span></p>
                <p><strong>Title:</strong> <span th:text="${entry.title}"></span></p>
                <p><strong>Hometown:</strong> <span th:text="${entry.hometown}"></span></p>
        </div>
        <p>You can view all entries or enter another form.</p>

        <div class="button-group">
            <a th:href="@{/entries/entry-form}" class="button">Enter Another Form!</a>
            <a th:href="@{/entries/all-entries}" class="button">View All Entries</a>
        </div>
    </div>

    <p class="professional-message">
        We're happy to have you on board. Feel free to leave feedback at ekabusiness2023@gmail.com.
    </p>
</div>
</body>
</html>