<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Basic Data Entry Form</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<h1>Entry Form</h1>
<div class = "form-padding">
    <form action="/entries/confirm" method="post" th:object="${entry}">
        <label for="firstName">First Name (required):</label><br />
        <input type="text" id="firstName" th:field="*{firstName}" required /> <br /> <br />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

        <label for="lastName">Last Name (required):</label><br />
        <input type="text" id="lastName" th:field="*{lastName}" required /> <br /> <br />

        <label for="title">Title (required):</label><br />
        <input type="text" id="title" th:field="*{title}" required /> <br /> <br />

        <label for="age">Age (optional):</label><br />
        <input type="number" id="age" th:field="*{age}" min="0" /> <br /> <br />

        <label for="hometown">Hometown (optional):</label><br />
        <input type="text" id="hometown" th:field="*{hometown}" /><br /><br />

        <button class ="button next-form" type="submit">Submit</button>
    </form>
</div>
</body>
</html>