<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Basic Data Entry Form</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <h1 class="hero">Entry Form</h1>
    
    <div class="card">
        <form action="/entries/confirm" method="post" th:object="${entry}">
        <div class="form-row">
            <label for="firstName">First Name (required):</label>
            <input type="text" id="firstName" th:field="*{firstName}" required placeholder="Enter first name" />
        </div>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>

        <div class="form-row">
            <label for="lastName">Last Name (required):</label>
            <input type="text" id="lastName" th:field="*{lastName}" required placeholder="Enter last name" />
        </div>

        <div class="form-row">
            <label for="title">Title (required):</label>
            <input type="text" id="title" th:field="*{title}" required placeholder="Enter job title" />
        </div>

        <div class="form-row">
            <label for="age">Age (optional):</label>
            <input type="number" id="age" th:field="*{age}" min="0" max="150" placeholder="Enter age" />
        </div>

        <div class="form-row">
            <label for="hometown">Hometown (optional):</label>
            <input type="text" id="hometown" th:field="*{hometown}" placeholder="Enter hometown" />
        </div>

        <div class="button-group">
            <button class="button" type="submit">Submit</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>